@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400&display=swap');

body {
    font-family: 'Spectral', serif;
    background-color: #F5F5F5;
}


$light-green: #8ACBBD;
$dark-green: #4F9FA1;
$bg-color: #F5F5F5;
$gray: #CECFCF;
$light-gray: #EFEFEF;
$light-blue: #437BB7;
$medium-blue: #6984CB;
$dark-blue: #1B344D;
$text-color: #343434;